.menu {

    display: flex;
    justify-content: space-between ;
    background-color: #56d84a;
    padding: 15px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 400;
    color: black;
}
body {
    margin: 0px;
    background-color: #f7f2f2;

}
.grid {
    display: flex;
    justify-content: space-around ;
}

.grid img{
    border: 2px solid #000000;
    border-radius: 50px;
}

.origami{
  
    border-radius: 40px;
    background-color: #30db4c9f;
    padding: 30px;
    margin:25px;
    width: 310px;
    font-family: Arial, Helvetica, sans-serif;

    
}